<app-shopping-cart-entry [entry]="cartEntry" *ngFor="let cartEntry of cartEntries$ | async"></app-shopping-cart-entry>


<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>
<app-shopping-cart-entry [entry]="demoEntry"></app-shopping-cart-entry>