@import "common";

:host {
  padding: $guttler/2 $guttler;

  .card-inner {
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
      grid-template-areas: "pic tit prc amt ttl del";
      align-items: center;
      justify-items: baseline;

      @media (max-width: $mobile_screen_width) {
        grid-template-areas: 
          "pic tit prc"
          "amt ttl del";
      }
    }

    &-picture {
      &__wrapper {
        grid-area: pic;
        height: $guttler * 4;
      }

      &__image {
        max-height: 100%;
      }
    }

    &-title {
      &__wrapper {
        grid-area: tit;
        display: flex;
        flex-direction: column;
        padding: 0px $guttler;
        align-self: baseline;
      }

      &__main {
        font-size: 26px;
      }
    }

    &-price {
      &__wrapper {
        grid-area: prc;
        font-size: $font_big;
        align-self: baseline;
        justify-self: flex-start;
      }
    }

    &-amount {
      &__wrapper {
        grid-area: amt;
       }
    }

    &-totalprice {
      &__wrapper {
        grid-area: ttl;
        font-size: $font_big;
      }
    }

    &-delete {
      &__wrapper {
        grid-area: del;
        cursor: pointer;
      }
    }

    &__column {
      padding: $guttler/2;
    }
  }
}
