@import "common";

:host {
    display: block;
    background-color: $gray1;
    padding-top: $guttler * 4;
    max-width: $max_screen_width;
    margin: 0 auto;

    .fill-remaining-space {
        flex: 1 1 auto;
    }

    .toolbar {
        position: fixed;
        top: 0px;
        z-index: 1;
        max-width: $max_screen_width;
        height: $guttler * 4;
        color: #fff;
    }

    .title {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
