<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ pizza.name }}</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/pizza-margherita.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{ pizza.description }}
        </p>
        <div class="calculation-wrapper">
            <span class="calculation-wrapper__price">{{ pizza.price }} $</span>
            <app-counter [value]="1" (change)="onAmountChange($event)"></app-counter>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>add_shopping_cart</mat-icon> ADD TO CART</button>
    </mat-card-actions>
</mat-card>