@import 'common';

:host {
    box-sizing: border-box;
    padding: $guttler;

    @each $size in $screen_sizes {
        $i: index($screen_sizes, $size);
        @media (min-width: $size) {
            flex-basis: 100% / $i;
         }
    }

    .calculation-wrapper{
        display: flex;
        font-size: 20px;
        align-items: center;
        height: $guttler * 1.5;

        &__price {
            display: flex;
            align-content: center;
            flex-grow: 1;
        }
    }
}