<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ pizza.name }}</mat-card-title>
        <mat-card-subtitle>Pizza</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/pizza-margherita.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{ pizza.description }}
        </p>
        <div class="calculation-wrapper">
            <span class="calculation-wrapper__price">{{ pizza.price }} $</span>
            <app-counter *ngIf="amount > 0" [value]="amount" (change)="onAmountChange($event)"></app-counter>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onAmountIncrement()" class="add-to-cart-btn">
            <mat-icon>add_shopping_cart</mat-icon> 
            <span class="add-to-cart-btn__text">ADD TO CART</span>
        </button>
    </mat-card-actions>
</mat-card>